@use "../abstracts/" as *;

.inventory-form-container, .adjust-stock-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  background-color: rgba(63, 60, 60, 0.619);
  transition: 0.3s;
  z-index: 2;
}

.form-header {
  border-bottom: 1px solid $border-light-clr;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  @include flex();
  justify-content: space-between;
  align-items: start;

  h2 {
    padding-bottom: 1rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.general-stock-details-wrapper {
  @include flex();
  padding: 0 1.5rem;
  align-items: start;
}

.close-btn {
  transform: scale(2.3);
  cursor: pointer;
  color: gray;
  transition: 0.3s;

  &:hover {
    color: red;
  }
}

form {
  margin: 2rem auto 2rem auto;
  border-radius: 0.5rem;
  background-color: white;
  width: fit-content;
  padding: 1.5rem 0;
  position: relative;
  z-index: inherit;
  box-shadow: 0 0 12px -7px black;

  .heading {
    border-top: 1px solid  $border-light-clr;
    border-bottom: 1px solid  $border-light-clr;
    padding: 0.5rem 1rem;
    margin: 0;
    font-weight: lighter;
  } 
}

.err {
  color: rgba(255, 0, 0, 0.856);
  font-size: 0.9rem;
  position: absolute;
  left: 0;
  bottom: -50%;
}

.general-details-wrapper {
  border-right: 0.5px solid $border-light-clr;
}

.mt-1 {
  display: block;
  margin: 1rem 0 0.2rem 0;
  font-size: 0.9rem;
  color: gray;
}

.img-input {
  position: relative;
  margin-right: 1rem;
  @include flex(column);
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  width: max-content;
  aspect-ratio: 1/0.5;
  background-color: rgba(205, 199, 199, 0.308);
  border: 2px dashed rgba(154, 154, 154, 0.881);

  .icon {
    transform: scale(2.5);
    display: block;
    margin: auto;
    color: rgba(128, 125, 125, 0.847);
  }
}

.selected-img-container {
  @include flex();
  justify-content: start;
  align-items: end;
  gap: 4px;
}

.thumbnail-img {
  width: 60px;
  aspect-ratio: 1/1.1;
  box-shadow: 0 0 8px -5px rgba(0, 0, 0, 0.503);

  img {
    width: 100%;
    height: 100%;
  }
}

.label-input {
  position: relative;
  margin: 1rem 1rem 1rem 0;

  label {
    position: absolute;
    color: gray;
    bottom: 20%;
    left: 2%;
    transition: 0.25s;
    z-index: -1;
  }
  input {
    padding: 0.4rem;
    background-color: transparent;
    width: 13rem;
  }
  input:focus {
    outline: none;
    border: 2px solid rgba(65, 105, 225, 0.789);
  } 
}

input:focus+label, input:not(:placeholder-shown)+label {
    top: -20%;
    left: 2%;
    bottom: unset;
    background-color: white;
    font-size: 0.8rem;
    z-index: 4;
}

input[name=openingStock] {
  position: relative;
  display: block;
  min-width: 120px;
}
input[name=openingStock]::before {
  position: absolute;
  z-index: 5;
  content: 'PCS';
  color: greenyellow;
  right: 0;
  inset: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: orange;
}
input[name=itemName], input[name=itemDescription] {
  width: 100%;
}

.category-dropdown {
  margin-right: 1rem;
  z-index: 12;
}
.unit-dropdown {
  margin-left: 1rem;
  min-width: 180px;
  z-index: 12;
}

.unit-stock {
  @include flex();
  gap: 1rem;
}

.date-label-input {
  margin-left: 1rem;
}

.low-stock-warn-wrapper, .price-tax-wrapper {
  @include flex();
  justify-content: flex-start;
  gap: 0.4rem;
  padding-left: 1rem;

  .label-input {
      input {
      width: 140px ;
      }
  }
}

.gst-dropdown {
  max-width: 200px;
  margin-left: 1rem;
}

input[type=submit] {
  padding: 0.5rem 1rem;
  background-color: rgb(47, 93, 233);
  color: white;
  border: none;
  border-radius: 0.4rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}


// Adjust stock styling...

.adjust-stock-wrapper {
  form {
    padding: 2rem;
    @include flex(column);
    align-items: start;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    padding-top: 0;
    padding-bottom: 1rem;

    .heading {
      border-top: none;
      padding: 1rem 0;
    }

    &::after {
      display: none;
    }
  }

  p {
    margin: 0.6rem 0;
  }
}

.operation-input-container {
  label:nth-child(2) {
    margin-right: 1rem;
  }

  label {
    font-size: 1rem !important;
    cursor: pointer;
  }
  margin-bottom: 1rem;
}

.remarks-input {
    padding: 0.4rem;
    border: 1px solid $border-light-clr;
    width: 100%;
    resize: none;
    height: 65px;
    border-radius: 5px;
}

.btn-container {
  @include flex();
  justify-content: end;
  gap: 0.8rem;
  width: 100%;
  padding-top: 2rem;

  .del-btn {
    border-radius: 4px;
    padding: 5px 10px;
  }
}