.popup {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    background-color: rgb(33, 198, 102);
    padding: 0.7rem 1.2rem;
    width: max-content;
    color: white;
    font-size: 1.2rem;
    border-radius: 0 0 5px 5px;
    transition: 0.4s;

    p {
        margin: 0;
    }
}

.warn-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    background-color: rgba(63, 60, 60, 0.619);
    transition: 0.3s;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner {
        background-color: rgba(221, 231, 235, 0.961);
        padding: 1rem 1.5rem;
        width: fit-content;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 0 8px -5px black;
    }

    h3 {
        font-size: 1.4rem;
    }
    .flex {
        display: flex;
        gap: 1rem;
        justify-content: end;
    }
}